@model Inventory_management.Models.user
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/userView/home.cshtml";
}
<!doctype html>
<html lang="en">


    <br><br><br><br><br>

    <div id="myCarousel" class="carousel slide " data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="first-slide img-fluid" src="~/Content/image/s2.jpg" alt="First slide">
                <div class="container">

                </div>
            </div>
            <div class="carousel-item">
                <img class="second-slide img-fluid" src="~/Content/image/s1.jpg" alt="Second slide">
                <div class="container">

                </div>
            </div>
            <div class="carousel-item">
                <img class="third-slide img-fluid" src="~/Content/image/s3.jpg" alt="Third slide">
                <div class="container">

                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <br>

    <div class="jumbotron p-4 p-md-5 text-white rounded bg-danger text-center">
        <div class="col-md-12 px-0">
            <h1 class="display-4 font-italic font-weight-bold">Welcome to the website Sky Gym!</h1>
            <p class="lead my-3 ">
                We hope that you will appreciate our services and opportunities we offer our loyal and
                potential customers. Here are some of them:
            </p>

        </div>
    </div>

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider"><br>

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading font-weight-bold  text-danger">Cardiovascular/Aerobic </h2>
                <p class="lead text-white">
                    Cardio exercise simply means that you're doing a rhythmic activity that
                    raises your heart rate into your target heart rate zone, the zone where you'll burn the most fat and
                    calories. To count as cardio exercise minutes, you must do the activity for at least 10 minutes.
                </p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" src="~/Content/image/cardio.jpg" alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider"><br>

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading font-weight-bold  text-danger">Anaerobic exercise</h2>
                <p class="lead text-white">
                    Anaerobic exercise is a physical exercise intense enough to cause lactate to
                    form. It is used by athletes in non-endurance sports to promote strength, speed and power; and by
                    body builders to build muscle mass.
                </p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="featurette-image img-fluid mx-auto" src="~/Content/image/weight.jpg" alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider"><br>

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading font-weight-bold  text-danger">Joint flexibility(Yoga)</h2>
                <p class="lead text-white">
                    Flexibility or limberness refers to the range of movement in a joint or
                    series of joints, and length in muscles that cross the joints to induce a bending movement or
                    motion. Flexibility varies between individuals, particularly in terms of differences in muscle
                    length of multi-joint muscles
                </p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" src="~/Content/image/yoga.jpg" alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider"><br>

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading font-weight-bold  text-danger">Muscular endurance and strength</h2>
                <p class="lead text-white">
                    Doing more repetitions with lighter weights will help you build up endurance.
                    And the truth is, in the real world, you need both and use both in your everyday life. Muscle
                    strength is the ability to exert a maximal amount of force for a short period of time.
                </p>
            </div>

            <div class="col-md-5 order-md-1">
                <img class="featurette-image img-fluid mx-auto" src="image/muscle.jpg" alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider"><br>

        <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->
    </div>
    <!-- /price container -->

    <div class="  text-danger  text-center">
        <p class="lead font-weight-bold">We hope that you will join us and appreciate our services and support us, here are some of the packages we offer to our customers.</p>
    </div>

    <br>

    <!-- footer -->



